# OS specific files
.DS_Store

# Config files not used but update with time/date
config/fabric/indigo-renderer.properties
config/everycomp-hazardous.properties
config/oculus.properties

# Personal files/folders
.mixin.out/
crash-reports/
data/
local/
logs/
saves/
xaero/
XaeroWaypoints_BACKUP*/
config/jei/world/
config/voicechat/username-cache.json
.curseclient
minecraftinstance.json
options.txt
rhino.local.properties
servers.dat
servers.dat_old
usercache.json
usernamecache.json
